[2018-07-25 19:43] cdietrich opened #5 "Update to Tycho 1.2.0"

[2018-07-25 20:01] cdietrich opened #7 "Update to Java 8"

[2018-07-25 20:08] cdietrich opened #8 "Provide Automatic-Module-Name Headers"

[2018-07-25 22:15] #8 closed

[2018-07-25 22:15] #7 closed

[2018-07-25 22:16] #5 closed

[2018-07-25 22:17] cdietrich opened #12 "Repair GenerateMwe2"
- Repair GenerateMwe2
- Consider port to new generator

[2018-07-27 13:49] cdietrich opened #19 "Obsolete Branch Jobs are not removed from Jenkins"
http://services.typefox.io/open-source/jenkins/job/mwe/
keeps jobs for branches that were deleted. the jobs should be cleaned up too.

[2018-08-05 12:48] cdietrich commented on #12
open: porting to new generator

[2018-08-06 06:50] cdietrich commented on #19
@dhuebner did you fix that? or were the jobs cleaned manually?

[2018-08-17 10:25] cdietrich opened #20 "Release 2.10.0"

[2018-08-17 10:26] cdietrich opened #21 "Repair Nightly Deployment to Sonatype"
see https://github.com/eclipse/xtext/issues/1226

[2018-08-19 09:07] cdietrich opened #22 "Increase Minimal Xtext Version"
- Build against Xtext 2.14 / Eclipse Oxygen 3a

[2018-08-30 09:19] cdietrich opened #23 "Standalone Setup cannot handle non-default output folders properly"
if a output folder is not called `bin` and is not called `target/classes` our standalone magic does not work. newer gradle versions e.g. use separate output folders and thus we have `<classpathentry kind="src" output="bin/main" path="src">` which we do not properly detect and thus the platform uri map is not populated properly

[2018-09-04 08:03] cdietrich opened #24 "Support Number Literals"
TODO find out buzilla and link

[2018-09-04 08:05] cdietrich commented on #23
cc @ArneDeutsch

[2018-09-04 10:09] cdietrich opened #25 "Bump Versions to 2.10.0 / 1.4.0"

[2018-09-04 12:50] cdietrich commented on #22
has test failure. @szarnekow can you have a look. i dont understand them

[2018-09-04 12:50] cdietrich commented on #22
http://services.typefox.io/open-source/jenkins/job/mwe/job/cd_issue22/2/#showFailuresLink

[2018-09-14 09:50] cdietrich commented on #22
@szarnekow would be nice if you could have a look

[2018-09-14 09:56] cdietrich commented on #21
Fixed

[2018-09-14 09:56] #21 closed

[2018-10-10 14:13] #25 closed

[2018-10-10 14:13] #22 closed

[2018-10-15 08:48] cdietrich opened #35 "Widen ASM version range to include 7.x"

[2018-10-15 09:24] #23 closed, assigned to cdietrich

[2018-10-15 10:42] cdietrich opened #37 "MWE Nightly Snapshot P2 Repo is not deployed"
MWE Nightly Snapshot P2 Repo is not deployed

it looks there got something lost during job move to EMF JIPP

[2018-10-15 10:46] cdietrich commented on #19
@dhuebner can you please fix this or give me permissions to configure this myself.

[2018-10-22 07:51] szarnekow opened #38 "Update TP to same EMF version as Xtext's"

[2018-10-22 07:59] szarnekow opened #39 "Freshly oomphed mwe2 has emf.codegen 2.10 in TP"
May be related to #38.

I picked the latest and greatest Eclipse. Apart from that, no special choices in the oomph variables.

@kthoms do you have a hint?

[2018-10-22 09:26] cdietrich opened #40 "In Oomph Setup you cannot select target platform version"

[2018-10-23 06:56] #40 closed

[2018-10-23 07:06] cdietrich commented on #38
@szarnekow ./maven/org.eclipse.emf.mwe2.target/org.eclipse.emf.mwe2.target.target has already emf 2.12

[2018-10-23 07:08] cdietrich commented on #39
should be fixed now

[2018-10-23 07:08] #39 closed

[2018-10-23 12:37] kthoms commented on #38
The Oomph setup will now use the latest EMF release, please check.
<img width="350" alt="screenshot 141" src="https://user-images.githubusercontent.com/265597/47360977-1e520200-d6d1-11e8-8f28-790067dc27ab.png">

[2018-10-30 12:49] #12 closed

[2018-10-30 12:49] cdietrich opened #45 "Migrate to new Workflow"

[2018-10-30 16:44] cdietrich opened #46 "Oomph: add pde to target platform"

[2018-10-30 16:50] #46 closed

[2018-11-12 15:02] #45 closed

[2018-11-13 09:08] cdietrich opened #52 "Maven Snapshot have to be Deployed manually"
https://ci.eclipse.org/emf/job/mwe2/ does not seem to run nightly if there are changes

[2019-01-07 16:52] Lexanius opened #57 "MWE2 not ignore test-folder"
Hi Devs,

Eclipse: 2018-09
Xtext and Xtend: 2.16
Xtext Complete SDK	2.16.0.v20181203-1555
    MWE 2 language SDK	2.9.1.201705291011

# the projects

My Project contains 2 Modules Generator and Core.  In the Core-Project I implement a ServiceLoader (https://docs.oracle.com/javase/7/docs/api/java/util/ServiceLoader.html) and Interfaces, etc.  to use this in Generator Project. To test the functionali

[2019-01-07 17:09] cdietrich commented on #57
can you please provide an example project demonstrating the problem

[2019-01-07 18:56] Lexanius commented on #57
Here a Example:
Main running, Maven run but mwe fail.

[example.zip](https://github.com/eclipse/mwe/files/2733941/example.zip)

[2019-01-08 08:11] cdietrich commented on #57
setting `wc.setAttribute(IJavaLaunchConfigurationConstants.ATTR_EXCLUDE_TEST_CODE, true);`
would solve this issues.
i wonder which criteria should be used to decide that
@szarnekow what do you think?

[2019-01-08 08:16] cdietrich commented on #57
@Lexanius  do you know that you can select this option yourself in the launch config?
![exclude_test](https://user-images.githubusercontent.com/238736/50817990-f2383b80-1325-11e9-8d63-f17d37924feb.png)

@szarnekow   maybe we can have a look at the containing source folder for the mwe2 file and if its not a test folder set the test exclude

[2019-01-08 08:18] szarnekow commented on #57
@cdietrich Yes, that should be possible.

To be forward compatible, we could try to create a dummy Main class next to the Workflow file and use that one to create a prototype of the Java launch configuration to copy all its stuff to the mwe2 launch config. Not sure if that is feasible, though.

[2019-01-08 08:22] cdietrich commented on #57
jdt does this

[code]
maybe we can mimic it

[2019-01-08 10:30] Lexanius commented on #57
I don't know, but it does not help.

[2019-01-08 10:38] cdietrich commented on #57
@Lexanius
![peek 2019-01-08 11-36](https://user-images.githubusercontent.com/238736/50825656-da6ab280-1339-11e9-8e16-8b0e3bf22da8.gif)
are you sure about that?

[2019-01-08 11:55] Lexanius commented on #57
I have not update my system. The example doesn't work with the checkbox.

[code]

I remove all personal paths

[2019-01-08 11:55] cdietrich commented on #57
can you try with Eclipse 2018-12?

[2019-01-08 12:19] cdietrich commented on #57
works fine for me with 2018-09 as well. no idea how you are testing.
how does your package explorer of the project look like?

[2019-01-08 12:21] Lexanius commented on #57
mhmm strange, i will try a fresh installed eclipse later

[2019-01-08 12:38] Lexanius commented on #57
Update: @cdietrich you are right, a with a fresh copy of eclipse your it working. Seem that my updated eclipse is broken or some plugin destroy the right behaviour.

Thx

ps: should i close the issue now

[2019-01-08 12:43] cdietrich commented on #57
no we will provide an enhancement that will try to figure out a better preset for that checkbox

[2019-01-08 12:54] cdietrich commented on #57
With Mwe 2.10 you will get a better preselection

[2019-01-08 12:54] #57 closed

[2019-01-09 15:09] cdietrich opened #59 "Mwe does no longer build on ci.eclipse.org"
https://ci.eclipse.org/emf/job/mwe2/8/console

on Typefox it works

[2019-01-09 15:12] cdietrich commented on #59
[code]

but that log files has no clues for me

[2019-01-09 15:19] cdietrich commented on #59
restarting the tests helped. looks like oom killer

[2019-01-09 15:46] cdietrich commented on #59
lets observe if this happens again

[2019-01-11 10:24] cdietrich opened #60 "Address the deprecation of AbstractJavaLaunchConfigurationDelegate getClasspath(ILaunchConfiguration)"
JDT wants to deprecate `org.eclipse.jdt.launching.AbstractJavaLaunchConfigurationDelegate.getClasspath(ILaunchConfiguration)`

we should address this.

we also should investigate what of customization is still needed at all

(affects mwe and mwe2)

[2019-01-16 16:03] szarnekow commented on #38
LGTM

[2019-01-16 16:03] #38 closed

[2019-01-18 22:37] cdietrich commented on #37
@kthoms seems to basically work now. scp script still needs adjustment + maybe delete old
currently its copied to https://download.eclipse.org/modeling/emft/mwe/updates/nightly/p2.repository

i have no clue how the menu entries at
https://www.eclipse.org/modeling/emft/downloads/index.php?project=mwe&showAll=0&showMax=5
are populated

[2019-01-19 10:49] kthoms commented on #37
Great. Will progress on Monday.

[2019-01-19 10:56] cdietrich commented on #37
anready made some more progress. nightly is deployed now
zip and cleanups missing

[2019-01-20 09:10] cdietrich commented on #37
TODO: concept for milestones and releases

[2019-01-29 08:35] cdietrich commented on #20
2.10.0.M2 is available at https://download.eclipse.org/modeling/emft/mwe/updates/milestones and will be on maven central shortly

[2019-02-04 10:33] cdietrich commented on #59
did not happen again

[2019-02-04 10:33] #59 closed

[2019-02-04 10:34] cdietrich commented on #37
Fixed

[2019-02-04 10:34] #37 closed

[2019-02-04 10:34] cdietrich commented on #37
thx @kthoms for helping with this

[2019-02-04 12:19] cdietrich opened #63 "Remove Mwe from https://ci.eclipse.org/xtext/job/common-deploy/"
@kthoms https://ci.eclipse.org/xtext/job/common-deploy/ still trys to deploy mwe although its now done on different Jenkins

[2019-02-07 15:37] kthoms commented on #63
Removed MWE & Xpand from [`nightly-deploy`](https://ci.eclipse.org/xtext/job/nightly-deploy/) job.

[2019-02-07 15:37] #63 closed

[2019-02-07 15:43] kthoms commented on #52
I have configured SCM polling every 15 minutes on the repository. This should trigger the build automatically. We may improve that to GH push notification later.

[2019-02-07 15:49] kthoms opened #64 "Streamline feature & plugin names"
When reading the feature and plugin names of MWE2 this looks a bit inhomogenous.

It should read
- "MWE 2" -> "MWE2"
- "Modeling Workflow Engine 2" -> "MWE2"
- "MWE 2 Lib" -> "MWE2 Library"
- "MWE 2 language SDK" -> "MWE2 Language SDK"
- "MWE 2 runtime SDK" -> "MWE2 Runtime SDK"

![screenshot 33](https://user-images.githubusercontent.com/265597/52423011-851bef80-2af7-11e9-934e-be28b0a3f3cf.png)
![

[2019-02-08 12:28] cdietrich opened #65 "Publish javadoc"
https://download.eclipse.org/modeling/emft/mwe/javadoc/2.9/
wonder what we need to create an aggregate javadoc
and publish it with the release

[2019-02-08 12:29] cdietrich commented on #65
https://ci.eclipse.org/emf/job/mwe2/ws/build-result/javadoc/ seems empty

[2019-02-08 12:30] cdietrich commented on #65
but there is https://github.com/eclipse/mwe/blob/master/maven/org.eclipse.emf.mwe2.parent/javadoc.ant

[2019-02-08 12:32] cdietrich commented on #65
i also wonder what a call to mvn clean install javadoc:aggregate would produce

[2019-02-08 12:43] cdietrich commented on #65
![bildschirmfoto vom 2019-02-08 13-43-00](https://user-images.githubusercontent.com/238736/52479013-79880180-2ba7-11e9-84e5-99d0fec30b5e.png)
looks promising

[2019-02-08 12:49] cdietrich commented on #65
will try to add the goal to ci.eclipse.org

[2019-02-08 12:52] cdietrich commented on #65
does not seem to work
https://ci.eclipse.org/emf/job/mwe2/13/
=> maybe we really need a second call

[2019-02-08 13:38] cdietrich commented on #65
@kthoms is there an option in jenkins to start in git-repo as . and not in git-repo/.. ?

[2019-02-08 13:44] cdietrich commented on #65
i have no idea why it works locally and not on ci

[2019-02-08 13:57] kthoms commented on #65
there are errors reported by javadoc, makes the build fail by default

set failOnError=false or sysprop maven.javadoc.failOnError?

https://maven.apache.org/plugins/maven-javadoc-plugin/javadoc-mojo.html#failOnError

[2019-02-08 14:00] cdietrich commented on #65
did try that. does not help.

[2019-02-08 15:07] cdietrich commented on #65
looks like i have no a working combination:
https://ci.eclipse.org/emf/job/mwe2/ws/git-repo/maven/org.eclipse.emf.mwe2.parent/target/apidocs/

[2019-02-10 10:26] cdietrich commented on #65
undid my changes. if i call aggregate then the single projects will no longer produce javadocs

[2019-02-10 10:43] cdietrich commented on #65
@kthoms how is it possible to publish to maven central without javadocs?

[2019-02-10 10:44] kthoms commented on #65
no

[2019-02-10 10:46] cdietrich commented on #65
but we dont produce them. and they were not published.
https://repo1.maven.org/maven2/org/eclipse/emf/org.eclipse.emf.mwe.core/1.4.0.M2/

[2019-02-10 11:24] cdietrich commented on #64
Fixed

[2019-02-11 07:24] #64 closed

[2019-02-11 07:49] cdietrich opened #69 "Add Guava 21 to Ooomph Target"
Add Guava 21 to Ooomph Target Platform

[2019-02-11 07:54] cdietrich commented on #69
@kthoms could you please have a look

[2019-02-13 15:19] cdietrich opened #70 "Bump Versions to 2.10.1 / 1.4.1"

[2019-02-13 15:20] cdietrich commented on #70
cc @kthoms

[2019-02-13 15:20] cdietrich commented on #20
done. thx @kthoms

[2019-02-13 15:20] #20 closed

[2019-02-13 19:43] #70 closed

[2019-02-25 08:08] cdietrich opened #72 "Need Snapshot build"
We need a build to be able to build master and branches without deploying anywhere. Currently this is done on Typefox Jenkins. But this service is planned to be shut down.

http://services.typefox.io/open-source/jenkins/job/mwe/

[2019-05-22 08:34] cdietrich opened #78 "Guava 27.1 +"
if we update in Eclipse in General and in Xtext we need to update here too,
https://github.com/eclipse/mwe/tree/cd_guava271
but i wonder if the better solution would be to get rid of guava all together in mwe

[2019-05-24 10:56] cdietrich commented on #78
unfortunately there are some parts that seem to require guava cause they use xtext api.
others expose guava in mwes api

[2019-06-07 07:49] cdietrich commented on #69
fixed

[2019-06-07 07:49] #69 closed

[2019-06-07 07:49] cdietrich commented on #78
version change done. cleanup of internals outstandanding. api has to be kept

[2019-06-07 10:13] cdietrich opened #82 "No Snapshot maven repo on ci.eclipse.org/emf"
https://ci.eclipse.org/emf/job/mwe2/lastSuccessfulBuild/artifact/
does not contain the maven repo, this is on sonatype oss, but there is xtext nightlys too which may interfere with stuff on branches

[2019-06-11 12:45] kthoms opened #84 "eclipse-jarsigner-plugin not available"
Builds are currently failing:
[code]

Maven Central does not have that plugin: https://search.maven.org/search?q=eclipse-jarsigner-plugin

[2019-06-11 12:49] cdietrich commented on #84
@kthoms aint that here: https://repo.eclipse.org/content/repositories/cbi-releases

[2019-06-11 12:53] kthoms commented on #84
Seems to be related to an experiment with automatic release profile. The repository is defined in profile `cbi-sign` and usually this works.

[2019-06-11 12:54] cdietrich commented on #84
yes this makes me wonder

[2019-06-11 12:56] cdietrich commented on #84
i assume we should bump to 1.1.5 too

[2019-06-11 13:16] #84 closed

[2019-06-11 16:31] cdietrich commented on #78
fixed

[2019-06-11 16:31] #78 closed

[2019-06-24 19:36] cdietrich opened #89 "Add MWE 2.11 to Simrel"
likely needs a Xtext contribution too. needs to be tested

[2019-06-24 19:40] cdietrich commented on #89
created https://git.eclipse.org/r/#/c/144755/1/emft-mwe.aggrcon

[2019-06-24 19:42] cdietrich commented on #89
https://ci.eclipse.org/simrel/job/simrel.runaggregator.VALIDATE.gerrit/672/console fails about missing guava. we dont package that on mwe update site but xtext only.
dont know if we package anything at all on mwe

[2019-06-24 19:43] cdietrich commented on #89
here is cli only, no guava
https://ci.eclipse.org/emf/job/mwe2/61/artifact/build-result/p2.repository/plugins/

[2019-06-24 19:50] cdietrich commented on #89
https://github.com/eclipse/mwe/pull/90

[2019-06-24 20:08] kthoms commented on #89
Since 2.11 is already released I doubt that we should try to fix the SimRel with a change to it. How about extending the aggrcon file by Guava from an Orbit site?

[2019-06-24 20:10] cdietrich commented on #89
we we would then undo it once we have a xtext milestone?

[2019-06-24 20:14] kthoms commented on #89
If the SimRel requirements are fulfilled, we could. MWE can be taken as it is released today, and if the SimRel validation succeeds we are fine.

[2019-06-24 20:17] cdietrich commented on #89
pushed a second patch set

[2019-06-24 20:19] kthoms commented on #89
Wanted to test the same ;) Granted, this is quite unusual. Each project usually provides only its own repository. But I think as an intermediate solution this should be OK.

[2019-06-24 20:20] cdietrich commented on #89
this is why i want to package guava to mwe
still fighting with the build

[2019-06-24 20:23] cdietrich commented on #89
TODO package guava
TODO remove workaround

[2019-06-24 20:29] kthoms commented on #89
Since we package 3rd party libs in Xtext's category.xml, too, I think it is OK to do the same for MWE. With #90 the workaround will become obsolete with next MWE release.

[2019-08-03 07:25] miklossy opened #92 "Highlight content of the *.mwe2 files in compare view"
Currently there is no syntax highlighting when comparing *.mwe2 files in Eclipse.
![screenshot](https://user-images.githubusercontent.com/20393472/62408948-79097a00-b5d0-11e9-8c33-bb7c3e02aaf9.png)
It would be nice if this support could be added to the mwe2 language (similar to other Xtext-based languages).

[2019-08-27 10:46] miklossy opened #93 "Improve formatting *.mwe2 files"
Currently the formatter executed on the [GenerateDomainmodel.mwe2](https://github.com/eclipse/xtext-eclipse/blob/master/org.eclipse.xtext.xtext.ui.examples/projects/domainmodel/org.eclipse.xtext.example.domainmodel/src/org/eclipse/xtext/example/domainmodel/GenerateDomainmodel.mwe2) file does not produce human readably output.
![screencast](https://user-images.githubusercontent.com/20393472/6376502

[2019-08-27 10:57] cdietrich commented on #93
org.eclipse.emf.mwe2.language.formatting.Mwe2Formatter is not bound anywhere. would you come up with a PR @miklossy ?

[2019-08-28 15:39] cdietrich commented on #92
Thx @miklossy

[2019-08-28 15:39] #92 closed

[2019-08-28 15:39] cdietrich commented on #93
Fixed in 2.11.1
thx @miklossy

[2019-08-28 15:39] #93 closed

[2019-08-28 18:10] cdietrich opened #96 "Migrate Jenkins to JIRO"
We should migrate to JIRO sometimes. i have created https://bugs.eclipse.org/bugs/show_bug.cgi?id=550541 to track if we need to do this together with EMF or separately.
ideally we could do this in Q4 so that it is done by next year.
@kthoms @hejado something for you after the 2019-09 release / holiday season

[2019-09-28 06:55] cdietrich commented on #96
https://ci.eclipse.org/mwe/ was created

we also should use this for @hejado to do some PRs so that we can do a committer election

the mwe-bot user should be able to publish https://issues.sonatype.org/browse/OSSRH-39222

[2019-09-30 14:35] kthoms commented on #96
I have added a pipeline job on the JIRO instance and started to provide a new Jenkinsfile. So far the process is working, except for Javadoc API creation.

[2019-09-30 15:27] cdietrich commented on #96
this was never working as long as i was involed.
the jobs was called with `-Dmaven.javadoc.failOnError=false`
see also the open issues about that issue

[2019-10-01 09:05] cdietrich commented on #96
there is also signing missing  @kthoms

[2019-10-01 09:47] kthoms commented on #96
Correct. Can't work this week on it further, will continue on monday.

[2019-10-07 07:57] kthoms commented on #96
Job initially created: https://ci.eclipse.org/mwe/job/mwe2

The freestyle job on EMF's JIPP has been scripted into a pipeline.

Current issue: Signing enabled but currently fails

[code]

[2019-10-07 08:26] kthoms commented on #96
![screenshot 220](https://user-images.githubusercontent.com/265597/66295856-8f8fc280-e8ec-11e9-9b99-f3366ab589d3.png)

[code]

[2019-10-07 08:48] kthoms commented on #96
Downloaded MWE2 repo from build server: https://ci.eclipse.org/mwe/job/mwe2/lastSuccessfulBuild/artifact/org/eclipse/emf/org.eclipse.emf.mwe2.repository/2.11.1-SNAPSHOT/

Installed from archive. Looks that all plugins are signed:

![screenshot 222](https://user-images.githubusercontent.com/265597/66297480-0a0e1180-e8f0-11e9-9903-57a914a06cfa.png)

[2019-10-07 11:11] kthoms commented on #96
Build of a Beta version fails in
`tycho-p2-plugin:1.4.0:p2-metadata (p2-metadata) @ org.eclipse.emf.mwe2.runtime`

[code]

Version replacement problem when using set-version script.

[2019-10-07 11:47] kthoms commented on #96
Beta releases will now get a qualifier `.Beta_TIMESTAMP`, which is also changed for MANIFEST.MF and feature.xml

[2019-10-07 12:32] cdietrich commented on #96
is it updated for milestones and releases only or not at all/manually?

[2019-10-07 12:49] kthoms commented on #96
I'm currently migrating the approach from Xtext, i.e. recreate the composite sites by a [shell script](https://github.com/eclipse/xtext-umbrella/blob/master/releng/jenkins/sign-and-deploy/scripts/create_composite_update_site.sh).

[2019-10-07 13:04] kthoms commented on #96
Looks good now, new milestones are in the composite descriptor:

[code]

[2019-10-07 13:17] kthoms commented on #96
Staging repository on OSSRH is created.

![screenshot 232](https://user-images.githubusercontent.com/265597/66315144-77806900-e915-11e9-852e-ee8d38806fc9.png)

[2019-10-07 13:23] kthoms commented on #96
Problem with Signature Validation. I'll raise an issue to the Foundation.

![screenshot 233](https://user-images.githubusercontent.com/265597/66315498-3a68a680-e916-11e9-92d8-b391dd7f6360.png)

[2019-10-07 13:30] kthoms commented on #96
Opened [Bug#551854](https://bugs.eclipse.org/bugs/show_bug.cgi?id=551854)

[2019-10-07 14:28] kthoms commented on #96
Fred re-uploaded the keys, Signature Validation is now successful.

![screenshot 234](https://user-images.githubusercontent.com/265597/66320610-748a7600-e91f-11e9-842e-bf569cd03cf4.png)

[2019-10-07 15:37] kthoms commented on #96
Slack is not configured yet, opened [Bug#551874](https://bugs.eclipse.org/bugs/show_bug.cgi?id=551874)

[2019-10-07 15:43] cdietrich commented on #96
Right now we have a Jenkins file that is used to build master
And branches on typefox Jenkins
We don’t have this facility here

It would be nice to be able to build pr and branches
Without deploying

[2019-10-07 15:45] kthoms commented on #96
We could setup a multibranch pipeline job now. I think we should restrict publishing to the master branch only then, or when explicitly triggered by a job parameter.

[2019-10-07 15:46] cdietrich commented on #96
Yes this sounds reasonable

[2019-10-08 06:26] cdietrich opened #100 "Remove bad index.htmls or so"
https://download.eclipse.org/modeling/emft/mwe/updates/releases/
seems to have the old index htmls (or similar)
we should remove them to get a nice update site

[2019-10-08 07:52] kthoms commented on #96
Slack is enabled.
Recreated the job as multibranch pipeline job.

[2019-10-08 08:18] cdietrich commented on #96
@kthoms looks like the snapshots builds are not started

[2019-10-08 08:22] cdietrich commented on #96
also parameters cannot be provided. so milestones / releases / snapshot deploy not possible

[2019-10-09 08:54] kthoms commented on #96
Build is available now at https://ci.eclipse.org/mwe/job/mwe2/

[2019-10-09 08:54] #96 closed

[2019-10-09 08:56] cdietrich commented on #89
TODO

remove workaround with new milestone

[2019-10-09 08:56] cdietrich commented on #72
fixed with move to jiro

[2019-10-09 08:56] #72 closed

[2019-10-09 09:14] cdietrich commented on #100
@kthoms can you do that yourself or do we need to create a bugzilla?

[2019-10-09 11:00] cdietrich opened #103 "JIRO starts new branches with deploy by default"

[2019-10-09 11:02] cdietrich commented on #103
[code]

[2019-10-09 11:02] cdietrich commented on #103
=> looks like no default for choice

[2019-10-09 11:15] cdietrich opened #104 "Junit publishing does not work"
[withMaven] junitPublisher - Jenkins JUnit Attachments Plugin not found, can't publish test attachments.Recording test result

[2019-10-09 11:31] cdietrich commented on #103
https://ci.eclipse.org/mwe/job/mwe2/job/cd_issue103/1/console

none of the parameters seems in env

[2019-10-09 11:44] cdietrich commented on #104
https://ci.eclipse.org/mwe/job/mwe2/job/master/5/console

[2019-10-09 11:56] cdietrich commented on #103
will go with the workaround. you can try if deploying the envinject plugin helps too

[2019-10-09 11:59] cdietrich commented on #104
@hejado @kthoms is it possbile the junitPublisher thing is a sideeffect of the withMaven call we dont do in xtext jobs?

[2019-10-09 12:45] cdietrich opened #107 "publish on master does not work"
+ REPO_SOURCE_DIR=build-result/p2.repository
++ /home/jenkins/agent/workspace/mwe2_master/git-repo/releng/jenkins/scripts/get_property.sh build-result/publisher.properties version
File not found: build-result/publisher.properties

https://ci.eclipse.org/mwe/job/mwe2/job/master/6/console

[2019-10-09 12:46] cdietrich commented on #107
@kthoms wo produces publisher.properties?

[2019-10-09 12:50] cdietrich commented on #107
or is this delete non fail safe?

[2019-10-09 12:51] cdietrich commented on #107
REPO_SOURCE_DIR=build-result/p2.repository
            # read properties from promote.properties & publisher.properties
            VERSION=$($SCRIPTS/get_property.sh build-result/publisher.properties version)
            BUILD_ID=$($SCRIPTS/get_property.sh build-result/promote.properties build.id)
            BUILD_TYPE=$($SCRIPTS/get_build_type.sh $BUILD_ID)

how can we read before the file is t

[2019-10-09 12:53] cdietrich commented on #107
will try not to do this twice

[2019-10-09 14:34] cdietrich opened #108 "Investigate if we can tell Oomph to install Xtext"
Investigate if we can tell Oomph to install Xtext

[2019-10-09 14:34] cdietrich commented on #107
Fixed

[2019-10-09 14:34] #107 closed

[2019-10-09 14:35] cdietrich commented on #103
Fixed

[2019-10-09 14:35] #103 closed

[2019-10-09 14:48] cdietrich opened #109 "Build & Forking"
log contains stuff like

Forking org.eclipse.emf.mwe.ui 1.5.1-SNAPSHOT

is that intended?

[2019-10-09 15:41] cdietrich opened #110 "maven errors in eclipse"
maven seems to dislike

[code]

as it is recursive

@kthoms  what is the intention of that?

[2019-10-10 10:16] cdietrich commented on #110
Fixed

[2019-10-10 10:16] #110 closed

[2019-10-11 07:01] cdietrich commented on #100
created https://bugs.eclipse.org/bugs/show_bug.cgi?id=552022

[2019-10-11 09:57] #100 closed

[2019-10-14 12:15] kthoms commented on #52
https://ci.eclipse.org/mwe/job/mwe2/
runs nightly for master

[2019-10-14 12:17] cdietrich commented on #52
i wonder if this is too often

[2019-10-14 13:59] cdietrich opened #112 "Version Numbers for Milestones/releases must contain qualifier"
i wonder if there is really no change to have proper version numbers for milestones / releases
(qualifier vs M1)

[2019-10-14 16:05] cdietrich commented on #89
looks like this needs a new lsp4j milestone/release

[2019-11-04 14:02] cdietrich opened #114 "Remove old GenerateMwe2"
Remove old `GenerateMwe2.java`

TODO regenerate with `GenerateMwe2New` and compare

[2019-11-04 15:16] cdietrich opened #115 "Fix Feature Branding"
According to this report our Feature Branding is incomplete

https://download.eclipse.org/oomph/archive/reports/download.eclipse.org/staging/2019-12/index.html

i am not sure how to fix that.
- we dont have n branding plugins for n features
- the branding plugins contain all kind of stuff in about.ini and about.properties
- the feature provider is "Eclipse Xtext" am not sure what is used to "group

[2019-11-04 16:17] merks commented on #115
Don't worry so much about the branding.  This just means your features won't show up group in the About dialog under the associated images in that dialog.

But note that you can reuse any plugin via the  plugin="x" in the <feature> element of the feature.xml; it should be some bundle that will be installed when the feature is installed.  So it's actually very easy to fix...

If you have proper lic

[2019-11-08 09:16] cdietrich opened #116 "Get rid of FragmentAdapter / Xpand"

[2019-11-08 09:46] cdietrich commented on #114
Fixed in 2.11.1

[2019-11-08 09:46] #114 closed

[2019-11-08 14:57] dhuebner commented on #112
Eclipse DSL Tools

Version: 2019-12 M2 (4.14.0)
Build id: 20191107-0857

<img width="745" alt="Bildschirmfoto 2019-11-08 um 15 55 50" src="https://user-images.githubusercontent.com/454322/68485943-6d1cfc00-0240-11ea-8f15-ff25661f12db.png">

[2019-11-10 14:53] cdietrich commented on #116
would also require to increase minimal xtext version if fragment not copied to mwe codebase

[2019-11-11 11:59] kthoms commented on #112
For release artifacts deployed to Maven Central it is better to have artifacts without timestamp qualifier, and with a release qualifier (`.M1` for milestones, and none for the GA relase).

For the p2 repository it is better to have timestamp qualifiers. This is especially important when using Tycho, which would rate the ".M1" qualifier higher as a release version without a qualifier.

We have to

[2019-11-11 12:08] cdietrich commented on #112
have thought we already had this solved with

[code]

[2019-11-11 12:19] kthoms commented on #112
Though also so. But the build fails when versions do not match
[code]

[2019-11-11 13:53] kthoms commented on #112
The problem does _not_ exist for release builds, where the POM version does not contain a qualifier. This raises only up for milestone builds, which leave `.qualifier` in manifests, but add a qualifier to the POM version.

Together with @cdietrich we came to the conclusion that for milestone builds the version in manifests have to be replaced by a qualifier as part of the versioning script that re

[2019-11-11 14:43] cdietrich opened #120 "Add warnings for deprecations"
currently we hightlight deprecations but do not created warnings for them.
we should change that.

[2019-11-11 14:44] cdietrich commented on #120
@miklossy will work on this

[2019-11-12 14:01] miklossy opened #121 "Exception when using the new Mwe2 File wizard"
The following exception is thrown when creating a new mwe2 file via the wizard:
[code]

![screencast](https://user-images.githubusercontent.com/20393472/68677915-33f4cc80-055d-11ea-8e62-8bcec8bf804c.gif)

@cdietrich Could you please confirm that the problem also occurs on your machine?

[2019-11-12 14:02] cdietrich commented on #121
which version of platform and mwe

[2019-11-12 14:03] cdietrich commented on #121
mwe needs a java project.
you dont have one

[2019-11-12 14:04] cdietrich commented on #121
but it does not crash for me in 2019-03

[2019-11-12 14:07] miklossy commented on #121
ah, ok, if it is a java project than it works.

[2019-11-12 14:08] cdietrich commented on #121
does not crash in Version: 2019-12 M2 (4.14.0)   MWE2 Language SDK	2.11.1.M1	org.eclipse.emf.mwe2.language.sdk.feature.group	Eclipse Xtext  to me

[2019-11-12 14:10] cdietrich commented on #121
but there is a trace in error log in both versions
=> we dont treat non java projects properly / dont check that in logging / give user reasonable feedback

[2019-11-12 14:11] miklossy commented on #121
We could also modify the wizard to allow only the selection of java projects.

[2019-11-12 14:20] cdietrich commented on #121
or show an error message on the wizard

[2019-11-14 08:34] cdietrich opened #123 "when selecting release for "xtext" in oomph when it tries to install Xtext 2.15 instead of 2.19 into the target platform"
when selecting release for "xtext" in oomph when it tries to install Xtext 2.15 instead of 2.19 into the target platform

[2019-11-14 10:26] cdietrich opened #124 "Jenkins does not build external PR"
https://ci.eclipse.org/mwe/job/mwe2 does not build external PRs e.g. https://github.com/eclipse/mwe/pull/122

[2019-11-14 11:20] kthoms commented on #124
Enabled fork PR builds

<img width="601" alt="screenshot 336" src="https://user-images.githubusercontent.com/265597/68852909-206e7080-06d9-11ea-80e8-d9febf2c849f.png">

[2019-11-14 11:20] #124 closed

[2019-11-14 12:00] cdietrich commented on #124
thx @kthoms

[2019-11-14 13:58] cdietrich commented on #120
Fixed in 2.11.1

[2019-11-14 13:58] #120 closed

[2019-11-18 08:44] cdietrich commented on #60
@szarnekow this is the mwe jdt deprecation issue

[2019-11-18 13:49] cdietrich opened #127 "Set minimal Xtext version to 2.20"
Set minimal Xtext version to 2.20 once 2.20 is out

[2019-11-19 05:58] cdietrich commented on #60
https://bugs.eclipse.org/bugs/show_bug.cgi?id=529435

[2019-11-21 12:08] cdietrich commented on #112
@kthoms anything left?

[2019-11-21 12:09] #52 closed

[2019-11-21 12:09] cdietrich opened #129 "Release Review Process"
(needed once a year)

- [x] review request https://bugs.eclipse.org/bugs/show_bug.cgi?id=558934
- [x] IP Log
- [x] Mail to Modeling PMC
- [x] Actual Review

[2019-11-21 13:48] miklossy commented on #121
Once https://github.com/eclipse/mwe/issues/127 is done, we could consider to port the `New MWE2 File Wizard` to the [wizard infrastructure provided by the Xtext framework](https://blogs.itemis.com/en/new-file-wizard-easy-to-generate-with-xtext-2.14).

[2019-11-22 06:35] cdietrich opened #132 "Nightly deploy no longer works"
https://ci.eclipse.org/mwe/job/mwe2/job/master/71/console

@kthoms any idea?

[2019-11-22 06:35] cdietrich commented on #132
[code]

[2019-11-22 06:41] cdietrich commented on #132
looks like there are to many `;;` here:
https://github.com/eclipse/mwe/blob/28af054ff325a477dc4f0b2a18aec2459b60db5d/Jenkinsfile#L184

@Hejado @kthoms

[2019-11-22 07:21] #112 closed

[2019-11-22 08:18] cdietrich commented on #132
fixed

[2019-11-22 08:18] #132 closed

[2019-11-24 15:10] szarnekow commented on #60
I'd resort to reflection: use getClasspathAndModulepath, if available, fallback to getClasspath otherwise. Assign the module path and the classpath from the two dimensional result array to the VM runner config. What do you think, @cdietrich ?

[2019-11-25 07:07] cdietrich commented on #60
sounds feasible. the downside would be that we would no longer recognize if they change it again.

[2019-11-25 10:48] szarnekow commented on #60
I prefer raising the lower bound for JDT and use `getClasspathAndModulePath`

[2019-11-25 10:49] cdietrich commented on #60
the problem is that we set the min mwe version in xtext.sdk
so that wont work with Xtext + MWE (latest) + Oxygen3a

[2019-11-25 10:49] cdietrich commented on #60
of course we could keep the old runtime dep and use a newer target platform.
and hope we dont do programming errors
as we do it for xtext-core and extras

[2019-11-25 11:07] cdietrich commented on #60
we had a closer look.
new method is already there in 3a although marked as `@since 3.10` whereas Oxygen3a as 3.9.100

[2019-11-25 11:11] cdietrich commented on #60
=> we can use the new method only

[2019-11-25 11:19] cdietrich commented on #60
or

[code]

[2019-12-02 06:34] cdietrich commented on #89
LSP4j 0.8.1 is now in the aggregator

[2019-12-04 09:25] cdietrich commented on #116
done with mwe 2.11.2

[2019-12-04 09:25] #116 closed

[2019-12-04 11:35] cdietrich commented on #127
Fixed in 2.21

[2019-12-04 11:35] #127 closed

[2019-12-04 11:35] cdietrich commented on #123
should be obsolete with update to Xtext 2.20

[2019-12-04 12:57] cdietrich commented on #123
@kthoms still happens and i have zero clue why

[2019-12-11 11:28] cdietrich commented on #89
@kthoms anything left?

[2019-12-11 11:46] kthoms commented on #89
SimRel change is merged, should be done with that.

[2019-12-11 11:46] #89 closed

[2020-01-11 20:40] miklossy opened #139 "Update documentation"
See https://github.com/eclipse/xtext/issues/1095#issuecomment-301756285

[2020-01-20 09:12] #139 closed

[2020-02-04 07:13] miklossy opened #143 "Updating the Xtext Community Website"
Hello Eclipse MWE2 team,

The Xtext team would like to update the [Xtext community website](https://www.eclipse.org/Xtext/community.html) listing all the cool projects people are building around Xtext/Xtend.

See also the corresponding [GitHub issue](https://github.com/eclipse/xtext/issues/1541) and [Bugzilla ticket](https://bugs.eclipse.org/bugs/show_bug.cgi?id=328477)

If you are interested that

[2020-02-04 12:17] cdietrich opened #144 "Update to EPL 2.0"
Looks like the Eclipse Foundation forces us to update to EPL 2.0

https://bugs.eclipse.org/bugs/show_bug.cgi?id=558934

[2020-02-04 14:41] cdietrich commented on #144
Things to look at

    complete headers
    LICENSE / license.html / epl*html
    about.html / about.properties
    ..... to be checked
    maven metadata / poms (also in gradle)
    feature.xml / feature.properties / license feature in target

https://www.eclipse.org/legal/guidetolegaldoc2.php
https://www.eclipse.org/projects/handbook/#ip-copyright-headers

[2020-02-04 18:09] cdietrich commented on #144
cc @miklossy

[2020-02-07 07:53] miklossy commented on #143
I suggest to use the following information:
[code]

[2020-02-10 18:14] cdietrich commented on #144
TODO:

- test what Ed's tool says
- release Milestone & Release

[2020-02-14 18:52] cdietrich opened #147 "There is no 2.11.1 tag"
@kthoms @Hejado do you know why there is no 2.11.1 tag?

[2020-02-14 18:58] cdietrich opened #148 "Make sure we can release without xtext-genie bot"
https://api.eclipse.org/bots/94
https://bugs.eclipse.org/bugs/show_bug.cgi?id=560123

cc @Hejado

[2020-02-17 07:52] Hejado commented on #148
Is it known, what xtext-genie does on mwe territory?

[2020-02-17 07:53] Hejado commented on #147
I don't know why.

[2020-02-17 07:56] cdietrich commented on #147
@Hejado i assume it needs to be created manually and its not part of the release manual?

[2020-02-17 07:56] cdietrich commented on #148
no. i have no idea. this is why i am asking

[2020-02-17 09:25] Hejado commented on #148
I can't find any mention of 'genie.xtext' in this repository. Jenkinsfile uses genie.mwe to connect to projects-storage.

If Jenkins does not store / use credentials for / references to genie.xtext, this should be okay. Not sure about Nexus, though...

[2020-02-17 09:45] cdietrich commented on #147
Fixed in 2.11.2

[2020-02-17 09:45] #147 closed

[2020-02-17 09:45] cdietrich commented on #144
Fixed in 2.11.2

[2020-02-17 09:45] #144 closed

[2020-02-17 09:46] cdietrich commented on #60
moved to 2.11.3

[2020-02-17 12:32] kthoms commented on #147
Right. Thanks for updating the notes!

[2020-02-20 22:51] cdietrich commented on #129
Release Review was successful

[2020-02-20 22:51] #129 closed

[2020-02-21 11:32] cdietrich opened #150 "Build 2.11.2 Release"

[2020-02-21 11:33] cdietrich opened #151 "Prepare 2.11.3 version numbers"

[2020-02-25 08:38] cdietrich commented on #150
TODO edit aggrcon one M3 is done at elipse

[2020-02-25 09:19] cdietrich commented on #151
Fixed in 2.11.3

[2020-02-25 09:19] #151 closed

[2020-02-26 10:14] miklossy commented on #143
The `Modeling Workflow Engine (MWE2)` project has been added to the [Xtext community website](https://www.eclipse.org/Xtext/community.html).

[2020-02-26 10:14] #143 closed

[2020-02-27 11:18] cdietrich commented on #150
Done

[2020-02-27 11:18] #150 closed

[2020-03-06 15:42] cdietrich opened #153 "drop old milestones"
as in Xtext we should drop old milestones

see also https://bugs.eclipse.org/bugs/show_bug.cgi?id=559248

[2020-03-30 06:43] cdietrich opened #154 "Make MWE ready for ASM 8.0"
Make MWE ready for ASM 8.0
https://bugs.eclipse.org/bugs/show_bug.cgi?id=559150

[2020-03-30 07:11] cdietrich commented on #154
Fixed in 2.11.3

[2020-03-30 07:11] #154 closed

[2020-05-06 12:50] miklossy opened #156 "Add quickfix to remove unused variables"
![image](https://user-images.githubusercontent.com/20393472/81178722-f2435c80-8fa8-11ea-83b0-dfda80c9394e.png)

[2020-05-06 12:51] miklossy opened #157 "Add validation to recognize unused imports"
![image](https://user-images.githubusercontent.com/20393472/81178854-1dc64700-8fa9-11ea-8db9-f3b18dcbdb9c.png)

[2020-05-11 17:54] miklossy opened #158 "Migrate the MWE2 formatter to the formatter2 API"
The [MWE2 Formatter](https://github.com/eclipse/mwe/blob/master/plugins/org.eclipse.emf.mwe2.language/src/org/eclipse/emf/mwe2/language/formatting/Mwe2Formatter.java) and the corresponding test cases should be migrated to the formatter2 API infrastructure.

[2020-05-11 17:58] miklossy commented on #158
See also https://github.com/eclipse/xtext-core/issues/1489

[2020-06-12 07:13] ewillink commented on #158
Not "should" be changed, "must" be changed. The new infrastructure does not support the old Formatter consequently ALL primary Xtext related tools that use a formatter MUST be migrated well before the old infrastructure can be deleted.

[2020-06-12 07:22] miklossy commented on #158
@ewillink It is possible to use the `old formatter` with the `new workflow`, currently, the Eclipse GEF project also uses that combination, see the [GenerateDot.mwe2](https://github.com/eclipse/gef/blob/master/org.eclipse.gef.dot/src/org/eclipse/gef/dot/internal/language/GenerateDot.mwe2) and [DotFormatter](https://github.com/eclipse/gef/blob/master/org.eclipse.gef.dot/src/org/eclipse/gef/dot/inte

[2020-09-18 23:02] monaka opened #162 "Test failed on Java11."
I suppose this issue is not caused by MWE itself but Equinox.
IMO, it's better to upgrade the base version of Eclipse.

I checked builds are passed in case I run `mvn` with `-DskipTests=true`

[code]

A part of .log file.

[code]

[2020-09-19 09:11] cdietrich commented on #162
updating tp and make it java 11 ready/having a latest tp that is used is more work,
see comments in https://github.com/eclipse/mwe/pull/163#event-3784966011

[2020-09-24 21:19] #162 closed

[2020-10-18 17:49] cdietrich opened #170 "Build M2"

[2020-10-19 13:43] cdietrich commented on #153
still valid
https://download.eclipse.org/modeling/emft/mwe/updates/milestones/
@Hejado @kthoms can we apply the Xtext solution here too?

[2020-10-19 13:43] cdietrich commented on #170
see also https://github.com/eclipse/mwe/issues/153

[2020-10-19 13:51] cdietrich commented on #148
@Hejado @kthoms is there anything left?

[2020-10-19 14:25] kthoms commented on #153
Not 1:1. We would need a separate releng job doing this.

[2020-10-19 14:29] kthoms commented on #148
Will check when I build M2.

[2020-10-19 15:59] #156 closed

[2020-10-20 07:29] cdietrich opened #174 "Update to CLI 1.4 (we maybe also should package that to our update site)"

[2020-10-20 18:50] cdietrich commented on #153
we also make to sure https://download.eclipse.org/modeling/emft/mwe/updates/milestones/compositeContent.xml
is updated. i assume this happens automatically

[2020-10-30 05:57] cdietrich commented on #170
Anything left ?

[2020-10-30 08:34] kthoms commented on #170
Done. I was waiting for the artifacts on Maven Central.

[2020-10-30 08:34] #170 closed

[2020-11-30 09:38] cdietrich opened #176 "[2021-03] Release Review"
A year has passed, we need a release review again

- [x] Schedule Review https://bugs.eclipse.org/bugs/show_bug.cgi?id=569303
- [x] IP Log https://dev.eclipse.org/ipzilla/show_bug.cgi?id=22989
- [x] Mail to Modeling PMC
- [x] Actual Review

[2021-01-11 11:17] cdietrich commented on #148
works

[2021-01-11 11:17] #148 closed

[2021-01-11 11:20] cdietrich commented on #82
repo seems at https://ci.eclipse.org/mwe/job/mwe2/job/master/lastSuccessfulBuild/artifact

[2021-01-11 11:20] #82 closed

[2021-01-25 08:44] cdietrich opened #177 "Follow Xtext/Orbit Guava Update to 30.1"
Follow Xtext / Orbit Guava Update to 30.1

https://github.com/eclipse/xtext/issues/1862
https://bugs.eclipse.org/bugs/show_bug.cgi?id=570581

see also https://github.com/eclipse/mwe/issues/179

[2021-01-25 13:05] cdietrich opened #179 "Require Xtext 2.25 as minimal version due guava update"

[2021-01-25 13:06] cdietrich opened #180 "What is latest.target and can it be deleted"
What is latest.target and can it be deleted
its seems to be outdated and not properly maintained

[2021-01-25 13:18] miklossy commented on #180
Seems that Tycho uses `org.eclipse.emf.mwe2.target`:  https://github.com/eclipse/mwe/blob/master/maven/org.eclipse.emf.mwe2.parent/pom.xml#L104

I did not find any reference to `org.eclipse.emf.mwe2.latest-target`, so I think it can be removed.

[2021-01-25 13:19] cdietrich commented on #180
@szarnekow @kthoms what do you think?

[2021-01-25 14:13] szarnekow commented on #180
Since nobody uses this / maintains it, I'd be in favor of removing that TP.
Less is more.

[2021-01-25 14:22] #180 closed

[2021-02-01 06:45] miklossy opened #182 "Weird versions"
We found a couple of weird versions in the repository that has been updated by the [set_versions.sh](https://github.com/eclipse/mwe/blob/master/set_version.sh) script.

https://github.com/eclipse/mwe/blob/801b43a118800ca6370415325a03a1b0a73846cd/features/org.eclipse.emf.mwe2.launcher-feature/feature.xml#L35-L37

[2021-02-01 06:48] cdietrich commented on #182
it looks this is meanwhile fixed if the version is corrected manually once
needs to be tested on next bump

[2021-02-01 08:29] cdietrich commented on #179
fixed in 2.12.1

[2021-02-01 08:29] #179 closed

[2021-02-01 08:29] cdietrich commented on #177
fixed in 2.12.1

[2021-02-01 08:29] #177 closed

[2021-02-12 06:47] cdietrich commented on #182
this was fixed with the guava update

[2021-02-12 06:47] #182 closed

[2021-02-12 06:49] cdietrich commented on #158
we should use the new java based if any

[2021-02-12 06:50] cdietrich opened #186 "Use Xtext 2.25 final in target"

[2021-02-15 13:15] cdietrich opened #187 "Release 2.12.1/1.6.1"

[2021-02-17 14:22] cdietrich commented on #176
done

[2021-02-17 14:22] #176 closed

[2021-02-19 07:59] cdietrich commented on #187
thx for building & publishing the release @kthoms

[2021-02-19 07:59] #187 closed

[2021-03-03 18:56] #186 closed

[2021-04-09 12:06] NicoPrediger commented on #153
Unassigning myself due to priorities. Re-assign if priorities change...

[2021-04-19 16:56] cdietrich opened #190 "Follow changes to eclipse signing service"
Follow changes to eclipse signing service & co

https://www.eclipse.org/lists/cross-project-issues-dev/msg18330.html

see also https://bugs.eclipse.org/bugs/show_bug.cgi?id=565644

[2021-04-21 07:17] cdietrich commented on #190
done. correct me if i overlooked something @kthoms @NicoPrediger

[2021-04-21 07:17] #190 closed

[2021-11-19 10:50] cdietrich commented on #153
did it manually once

[2022-01-10 08:28] cdietrich opened #200 "Release 2.12.2"
Release 2.12.2

- Review: https://gitlab.eclipse.org/eclipsefdn/emo-team/emo/-/issues/152
- Build the release
- prepare 2.13.0

[2022-01-17 06:42] cdietrich opened #202 "Bootstrap against Xtext 2.26.0 Release"

[2022-01-17 07:48] cdietrich commented on #200
still waiting for review. should come later this week

[2022-01-18 19:37] cdietrich commented on #200
done

http://www.eclipse.org/modeling/download.php?file=/modeling/emft/mwe/downloads/drops/2.12.2/R202201181914/emft-mwe-2-lang-Update-2.12.2.zip
https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.12.2/

[2022-01-18 19:37] #200 closed

[2022-02-09 12:08] cdietrich opened #206 "EcoreGenerator generates ImplCustom classes for foreign packages"
with

[code]

and

[code]

you will end up with a `src/org/eclipse/xtext/xbase/impl/XExpressionImplCustom.java`

[2022-02-09 12:37] cdietrich commented on #206
@szarnekow any idea?

[2022-02-09 13:45] szarnekow commented on #206
The code looks completely bonkers for the case that `generateCustomClasses` was set to true.
It is possible to register multiple src-folders to do the lookup. But if the first one does not contain the custom class, it is generated immediately.
Also the lookup from the classpath is only done after the class was already generated.

I think we need to move the generate stuff out of the loop for the p

[2022-02-28 10:18] cdietrich commented on #202
done

[2022-02-28 10:18] #202 closed

[2022-03-31 02:14] QGMeta opened #211 "rce vulnerability of the spring-beans"
Is it affected by the rce vulnerability of the spring-beans component of the spring-framework?

[2022-03-31 04:01] cdietrich commented on #211
Can you please give more details of what you are talking about

[2022-03-31 06:39] QGMeta commented on #211
https://github.com/spring-projects/spring-framework/issues/28248 it seems org.eclipse.emf.mwe2.runtime spring-beans

Thank you for your reply.The issue is that org.eclipse.emf.mwe2.runtime is dependent on com.google.inject, which includes the package "guice" seems is dependent on spring-beans.I'd like to ask mwe whether be Affected by this RCE as shown in https://github.com/spring-projects/spring-

[2022-03-31 06:43] cdietrich commented on #211
i still do understand our guice -> spring-beans conclusion

[2022-03-31 06:55] QGMeta commented on #211
you are right, is there any affected by the rce vulnerability of the spring-beans component?

[2022-03-31 07:20] cdietrich commented on #211
only if **you** do explicitely decide to pull whatever uses spring

[2022-03-31 07:25] QGMeta commented on #211
ok, thanks

[2022-03-31 07:25] #211 closed

[2022-04-08 07:21] cdietrich opened #217 "Build 2.13.0 M1"

[2022-04-11 14:03] cdietrich commented on #217
done

[2022-04-11 14:03] #217 closed

[2022-04-27 13:07] cdietrich opened #221 "Release 2.13.0"
Release 2.13.0

[2022-05-19 11:34] cdietrich commented on #221
done

[2022-05-19 11:34] #221 closed

[2022-09-30 11:29] cdietrich opened #227 "oomph complains about unsigned mwe nightly when eclipse is run with java 18"
oomph complains about unsigned mwe nightly

<img width="942" alt="Bildschirmfoto 2022-09-30 um 13 25 45" src="https://user-images.githubusercontent.com/238736/193260172-523441a3-66fa-49bb-9da6-57465adbc8ba.png">

are we really unsigned.
is this old signing? or the new one?

@merks any hint where to read about this feature. what does this dialog check

https://ci.eclipse.org/mwe/job/mwe2/job/master

[2022-09-30 11:29] cdietrich commented on #227
i also dont know if this ever was working for nightlies

[2022-09-30 11:33] cdietrich commented on #227
log contains stuff like

[code]

[2022-09-30 11:45] cdietrich commented on #227
=> is it possible this is about the new signing only?

[2022-09-30 11:45] cdietrich commented on #227
<img width="897" alt="Bildschirmfoto 2022-09-30 um 13 43 35" src="https://user-images.githubusercontent.com/238736/193262793-044b2739-71c4-49e5-979d-7a401a1c8517.png">
<img width="839" alt="Bildschirmfoto 2022-09-30 um 13 38 42" src="https://user-images.githubusercontent.com/238736/193262806-c0d36f1e-dcd0-47a7-92a1-776342a543b8.png">

[2022-09-30 12:15] merks commented on #227
Can you share a URL for the site in question?

[2022-09-30 12:24] merks commented on #227
I guess I can use this:

https://ci.eclipse.org/mwe/job/mwe2/job/master/1223/artifact/git-repo/maven/org.eclipse.emf.mwe2.repository/target/repository/

[2022-09-30 12:31] merks commented on #227
The report for the job shows the artifacts signed:

https://download.eclipse.org/oomph/archive/reports-extra/mwe-nightly/ci.eclipse.org/mwe/job/mwe2/job/master/1223/artifact/git-repo/maven/org.eclipse.emf.mwe2.repository/target/repository/index.html

Installing from the job's site into an empty user home also doesn't complain about unsigned content.

[2022-09-30 12:35] cdietrich commented on #227
Hmm. Then I have no clue where and what oomph is installing  from

[2022-09-30 12:37] merks commented on #227
The nightly repo installs fine as well:

![image](https://user-images.githubusercontent.com/208716/193270762-660e9ed3-06da-4906-a776-3dc8b1eae56e.png)

Note that if at some point in the past, you downloaded an unsigned version of the artifact into your pool with the same artifact ID as these "newer" ones, that bundle will be used instead of downloading a newer one and that could result in this iss

[2022-09-30 12:42] cdietrich commented on #227
The timestamps in the Dialog seem fresh

[2022-09-30 12:42] cdietrich commented on #227
Will check without Pool later

[2022-09-30 13:45] cdietrich commented on #227
[code]
the one in the pool has rsa file too

[2022-09-30 13:54] merks commented on #227
Yes, p2 keeps track of all artifact repositories and if it finds an artifact in any file-based repository, it will use that rather than go to the internet.  So often I have cases where I build Oomph locally and install it, of course with prompts, and those end up in my pool, so that later I get prompts even when I install from https because the build stamp is based on the jgit commit time.  (Turni

[2022-09-30 13:55] cdietrich commented on #227
i will build another nightly and try to update the new install

[2022-09-30 14:00] merks commented on #227
I guess your builds create new versions for each build.   It's a really strange problem; I've never seen false unsigned prompts before...  It would be interesting to look in the final installation and see if the About dialog shows them as unsigned too.

[2022-09-30 14:03] cdietrich commented on #227
the fresh install has
<img width="898" alt="Bildschirmfoto 2022-09-30 um 16 02 30" src="https://user-images.githubusercontent.com/238736/193286958-f82dd1ff-bcc9-4c9a-847c-5e337681cf00.png">
will check after update

[2022-09-30 14:12] cdietrich commented on #227
hmmm in the old install i still get the error.
is it worth debugging or can i try to directly install instead of using oomph?

[2022-09-30 14:16] cdietrich commented on #227
old install shows

<img width="1109" alt="Bildschirmfoto 2022-09-30 um 16 16 02" src="https://user-images.githubusercontent.com/238736/193289678-65b98f29-11d9-4d19-8a3d-f52e29874bcb.png">

[2022-09-30 14:23] merks commented on #227
If you look in your eclipse/configuration/org.eclipse.equinox.simpleconfigurator/bundles.info you should be able to determine the physical location of the artifact.  Note that it's p2 that's doing all this checking and it will do that checking for all installs and all updates.

[2022-09-30 14:27] cdietrich commented on #227
one diff is

[code]

switching to 17 seems to help.
does the signing check not work with 18 anymore?

[2022-09-30 14:40] merks commented on #227
If I recall correctly, some signing algorithms are no longer supported.   But these things are freshly signed so that's going to be problem if that's already currently a problem with fresh signatures!!  Let me see if I can reproduce the problem that way...

[2022-09-30 15:01] merks commented on #227
I installed the commiters package artificially including mwe's SDK from the nightly build, using 18.0.2+1 JustJ, these are all listed as not signed:

![image](https://user-images.githubusercontent.com/208716/193297340-b6f55df7-26c3-4cf0-8fa4-c9873663c92e.png)

So not everything is considered unsigned but rather some subset of things.  I don't see a pattern behind this though...

[2022-09-30 15:43] cdietrich commented on #227
/Library/Java/JavaVirtualMachines/temurin-18.jdk/Contents/Home/bin/jarsigner --verify  /Users/cdietrich/.p2/pool/plugins/org.eclipse.emf.mwe.utils_1.8.0.20220826-0548.jar

The jar will be treated as unsigned, because it is signed with a weak algorithm that is now disabled.

[2022-09-30 16:23] cdietrich commented on #227
for inject it says

[code]

for xtext stuff

[code]

[2022-09-30 16:38] cdietrich commented on #227
newer orbit artifacts also fine. guess the was done by the jarsigner plugin bump

[code]

[2022-09-30 16:40] cdietrich commented on #227
bumping the algos work. the question is why we have any mentioned explicitely anyway.

[2022-09-30 16:54] merks commented on #227
Yes, in other places there is no explicit mention of these.  I looked at the version you used and it was the same as EMF's so that ring a bell

Here's documentation for future reference:

https://www.eclipse.org/cbi/sitedocs/eclipse-jarsigner-plugin/sign-mojo.html

Thanks so much for the research work here!!!

@jonahgraham

FYI

[2022-10-01 07:51] cdietrich commented on #227
@merks @jonahgraham created https://bugs.eclipse.org/bugs/show_bug.cgi?id=580846

[2022-10-03 10:28] #227 closed

[2022-10-10 07:43] cdietrich opened #229 "Update to Java 11 as minimal version"
and r202203 as minimal target

[2022-11-01 12:11] cdietrich commented on #229
Done

[2022-11-01 12:11] #229 closed

[2022-11-01 12:11] cdietrich opened #231 "Provide 2.14 release"

[2022-11-16 16:52] cdietrich commented on #231
review done https://gitlab.eclipse.org/eclipsefdn/emo-team/emo/-/issues/383

[2022-11-17 12:01] cdietrich commented on #231
https://download.eclipse.org/modeling/emft/mwe/updates/releases/2.14.0/
https://download.eclipse.org/modeling/emft/mwe/downloads/drops/2.14.0/R202211171135/emft-mwe-2-lang-Update-2.14.0.zip

[2022-11-17 12:02] cdietrich commented on #231
done
(aggrcon still needs to be merged)

[2022-11-17 12:02] #231 closed

[2022-11-18 12:32] cdietrich commented on #231
aggrcon done

[2022-11-21 07:46] maxkratz opened #237 "MWE v2.14.0 has dependency to unreleased Xtext v2.29.0"
The MWE release [v2.14.0](https://github.com/eclipse/mwe/releases/tag/v2.14.0) contains a dependency on Xtext v2.29.0, which is not released, yet (see https://github.com/eclipse/xtext-core/tags).

This breaks, e.g., the headless Eclipse installation of MWE features/feature group:
[code]

[2022-11-21 08:02] cdietrich commented on #237
this is intentional. Xtext 2.29 will be released today or tomorrow